h1{
    color: darkblue;
}
body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/015/604/321/large/mathias-zamecki-5.jpg?1548942407");
    background-size: cover;
}







