body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/015/604/321/large/mathias-zamecki-5.jpg?1548942407");
    background-size: cover;
}

.createbox{
    width: 480px;
    height: 550px;
    background: rgb(10, 20, 104) ;
    color: #fff ;
    top: 50% ;
    left: 50% ;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1 {
    color: white;

}

p {
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}

::placeholder{
    color:black;
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color: blue;
}

.createbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.createbox input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom:1px solid #fff;
    background: transparent;
    height: 40px;
    font-size: 16px;
}

.createbox input[type="nome"]{
    border: none;
    border-bottom:1px solid #fff;
    background: transparent;
    height: 45px;
    font-size: 16px;
}

.createbox input[type="email"]{
    border: none;
    border-bottom:1px solid #fff;
    background: transparent;
    height: 45px;
    font-size: 16px;

}

.createbox input[type="password"]{
    border: none;
    border-bottom:1px solid #fff;
    background: transparent;
    height: 45px;
    font-size: 16px;
}

.createbox input[type="rpassword"]{
    border: none;
    border-bottom:1px solid #fff;
    background: transparent;
    height: 40px;
    font-size: 16px;
}

.createbox button[type="submit"]{
    border: none;
    outline:none;
    height: 40px;
    background: blue;
    color: #fff;
    font-size: 18px;
    width:50%;
    border-radius: 20px;
}

.createbox button[type="submit"]:hover{
    cursor:pointer;
    background: aquamarine;
    color: #000;
}

.createbox button[type="submit"]{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

button{
    border: none;
    outline:none;
    height: 40px;
    background: blue;
    color: #fff;
    font-size: 18px;
    width:10%;
    border-radius: 20px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}






