*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    width: 1170 px;
    margin: auto;
    z-index:2;
}

.cabecalho, .Bem-vindo, p, body {
  position: relative;
  z-index: 2;
}




.Bem-vindo {
  position: relative;
  z-index:2; 
  color: #fff;
  text-align: center;
  margin-top: 100px; 
}

.Info{
  position: fixed;
  z-index: 1;
  color: #fff;
  margin-top: 200px;
}

p {
  position: relative;
  bottom: 0;
  right:50%;
  margin: 20px;
  color: white;
  display: block;
 
}


body {
    
    background-size: cover;
  }


  .fade-half {
    position: relative;
  }
  
  /* fade */
  .fade-half:before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
    height: 135vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0.85));
    z-index: 10;
    pointer-events: none;
  }
  
  #Background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .fade-half {
    position: relative;
    z-index: 1;
  }

  .button {
    position: absolute;
    top: 20px;
    right: 100px;
    margin-right: 100px; 
    padding: 10px 20px;
    background-color: #1a237e;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    overflow: visible
  }
  
  .button:hover {
    background-color: #005ea2;
  }

  .button-login {
    position: absolute;
    top: 20px;
    right: 100px;
    margin-right: 10px; 
    padding: 10px 20px;
    background-color: #1a237e;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    overflow: visible
    
  }


  
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: black;
  z-index: 1;
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 60px;
}

h1 {
  height: 300px;
  z-index:2;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: auto;
}

.texto1 {
   position: absolute;
  top: 50%;
  left: 0;
<<<<<<< HEAD
  transform: translate(-50%, -50%);
=======
>>>>>>> origin/main
  text-align: left;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  
 
}

.texto1 {
  left:50%
}

.container p {
  margin: 0 10px;
}


 