body{
    background-color: black;
}

p{
    color:white;

    margin-left: 40px;
    margin-right: 40px;
}
h2,h3{

    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}



 