.col-md-8{
    margin-top:180px;
}

body{
    background-color: #1a237e;
}

p, h1,h2{
    color:white;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;

}

.btn {
    border: none;
    outline:none;
    height: 30px;
    background: blue;
    color: #fff;
    font-size: 14px;
    width:50%;
    border-radius: 15px;
}
